@use "./vars.scss" as *;

.container {
    max-width: calc($container-width + $container-padding-x * 2);
    margin-inline: auto;
    padding-inline: $container-padding-x;
}

.button {
    @include flex-center(true);

    height: $button-height;
    padding-inline: 35px;
    font-size: 20px;
    color: $white;
    background-color: $black;
    border: $border;
    border-radius: $border-radius;

    @include hover {
        background-color: $lime;
        color: $black;
    }

    &.transparent {
        color: $black;
        background-color: transparent;
    }
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.burger-button {
    @include reset-button;
    @include square(48px);

    @include hover {
        background-color: $lime;
    }

    position: relative;
    border-radius: $border-radius-small;

    &::after {
        @include abs-center;

        content: '';
        width: 50%;
        height: 2px;
        background-color: $black;
        border-radius: 5px;
        box-shadow: 0 -8px, 0 8px ;
    }
}

.cross-button {
    @include reset-button;
    @include square(48px);

    @include hover {
        background-color: $lime;
    }

    position: relative;
    border-radius: $border-radius-small;

    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 7px;
        width: 70%;
        height: 2px;
        background-color: $black;
        border-radius: 5px;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }
}


.section {
    padding-block: $section-padding-y;

    .section-header {
        display: flex;
        align-items: center;
        column-gap: 40px;

        .section-title {

        }

        .section-description {
            max-width: 580px;
        }

        &:not(:last-child) {
            margin-bottom: 80px;
            
            @include mobile {
                margin-bottom: 40px;
            }
        }

        @include mobile {
            flex-direction: column;
            row-gap: 30px;
            text-align: center;
        }
    }

    .section-body {


    }

    &.section-hidden-x {
        overflow-x: hidden;
    }
}

.puddle-bg {
    padding-inline: 7px;
    background-color: $lime;
    border-radius: $border-radius-small;


    &.puddle-light {
        background-color: $white;
    }
}

.grid {
    --gridColumns: 1;

    @for $i from 2 through 12 {
        &-#{$i} {
            --gridColumns: #{$i};
        }
    }

    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    gap: 40px;

    @include mobile {
        gap: 30px;
    }


    &-2 {
        @include tablet {
            --gridColumns: 1;
        }
    }

    &-3 {
        @include desktop {
            --gridColumns: 2;
        }

        @include mobile {
            --gridColumns: 1;
        }
    }
}

.pagination {
    .pagination-list {
        display: flex;

        .pagination-item {
            .pagination-button {
                @include reset-button;
                @include flex-center(false);
                @include square(24px);

                @include hover {
                    color: $lime;
                }

                color: $white;

                &.is-current {
                    color: $lime;
                }
            }
        }
    }
}