doctype html
html(lang='en')
    head
        title Positivus
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.scss")
        script(src="index.js")
    body
        header.header
            div.header-inner.container
                a.header-logo(href="/")
                    img.header-logo-image(src="./images/logo.svg" alt="Positivus Logo" width="220" height="35")
                nav.header-menu.hidden-mobile
                    ul.header-menu-list
                        li.header-menu-item
                            a.header-menu-link(href="") About us
                        li.header-menu-item
                            a.header-menu-link(href="") Services
                        li.header-menu-item
                            a.header-menu-link(href="") Use Cases
                        li.header-menu-item
                            a.header-menu-link(href="") Pricing
                        li.header-menu-item
                            a.header-menu-link(href="") Blog
                button.header-button.button.transparent.hidden-mobile(type="button") Request a quote
                button.header-burger-menu.burger-button.visible-mobile(onclick="dialogOpen()")
                    snap.visually-hidden Open navigation menu
        main.content
            section.section.section-hidden-x.container 
                div.section-body
                    div.hero
                        div.hero-main
                            div.hero-body
                                h1.hero-title Navigation the digital landscape for success
                                div.hero-description
                                    p Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.
                                button.hero-button.button(type="button") Book a consultation
                            img.hero-image(src="./images/hero-bg.svg", width="600", height="515")
                        div.hero-partners
                            h2.visually-hidden Our partners
                            ul.hero-partners-list
                                li.hero-partners-item
                                    img.hero-partners-image(src="./images/partners/amazon.svg", alt="amazon", width="130", height="48")
                                li.hero-partners-item
                                    img.hero-partners-image(src="./images/partners/dribble.svg", alt="dribble", width="130", height="48")
                                li.hero-partners-item
                                    img.hero-partners-image(src="./images/partners/hubspot.svg", alt="hubspot", width="130", height="48")
                                li.hero-partners-item
                                    img.hero-partners-image(src="./images/partners/notion.svg", alt="notion", width="130", height="48")
                                li.hero-partners-item
                                    img.hero-partners-image(src="./images/partners/netflix.svg", alt="netflix", width="130", height="48")
                                li.hero-partners-item
                                    img.hero-partners-image(src="./images/partners/zoom.svg", alt="zoom", width="130", height="48")
            section.section.container
                header.section-header
                    h2.section-title.puddle-bg Services
                    div.section-description
                        p At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services included:
                div.section-body
                    div.services
                        ul.services-list.grid.grid-2
                            li.services-item
                                article.services-card
                                    div.services-card-body
                                        h3.services-card-title
                                            snap.puddle-bg Search engine
                                            snap.puddle-bg optimization
                                        a.service-card-link(href="/")
                                            snap.service-card-link-icon-wrapper
                                                include images/icons/arrow-top-right.svg
                                            snap.service-card-link-label Learn more
                                    img.services-card-image(src="./images/services/1.svg", alt="", width="210", height="170")
                            li.services-item
                                article.services-card.lime
                                    div.services-card-body
                                        h3.services-card-title
                                            snap.puddle-bg.puddle-light Pay-per-click
                                            snap.puddle-bg.puddle-light advertising
                                        a.service-card-link(href="/")
                                            snap.service-card-link-icon-wrapper
                                                include images/icons/arrow-top-right.svg
                                            snap.service-card-link-label Learn more
                                    img.services-card-image(src="./images/services/2.svg", alt="", width="210", height="170")
                            li.services-item
                                article.services-card.dark
                                    div.services-card-body
                                        h3.services-card-title
                                            snap.puddle-bg.puddle-light Social Media
                                            snap.puddle-bg.puddle-light Marketing
                                        a.service-card-link.light(href="/")
                                            snap.service-card-link-icon-wrapper
                                                include images/icons/arrow-top-right.svg
                                            snap.service-card-link-label Learn more
                                    img.services-card-image(src="./images/services/3.svg", alt="", width="210", height="170")
                            li.services-item
                                article.services-card
                                    div.services-card-body
                                        h3.services-card-title
                                            snap.puddle-bg Email
                                            snap.puddle-bg Marketing
                                        a.service-card-link(href="/")
                                            snap.service-card-link-icon-wrapper
                                                include images/icons/arrow-top-right.svg
                                            snap.service-card-link-label Learn more
                                    img.services-card-image(src="./images/services/4.svg", alt="", width="210", height="170")
                            li.services-item
                                article.services-card.lime
                                    div.services-card-body
                                        h3.services-card-title
                                            snap.puddle-bg.puddle-light Content
                                            snap.puddle-bg.puddle-light Creation
                                        a.service-card-link(href="/")
                                            snap.service-card-link-icon-wrapper
                                                include images/icons/arrow-top-right.svg
                                            snap.service-card-link-label Learn more
                                    img.services-card-image(src="./images/services/5.svg", alt="", width="210", height="170")
                            li.services-item
                                article.services-card.dark
                                    div.services-card-body
                                        h3.services-card-title
                                            snap.puddle-bg.puddle-light Analytics and
                                            snap.puddle-bg.puddle-light Tracking
                                        a.service-card-link.light(href="/")
                                            snap.service-card-link-icon-wrapper
                                                include images/icons/arrow-top-right.svg
                                            snap.service-card-link-label Learn more
                                    img.services-card-image(src="./images/services/6.svg", alt="", width="210", height="170")
                        div.services-banner.banner
                            div.banner-inner
                                div.banner-body
                                    h3.banner-title Let's make things happen
                                    div.banner-description
                                        p Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.
                                    button.banner-button.button Get our free proposal
                                img.banner-image.hidden-mobile(src="./images/banner-bg.svg", alt="", width="494", height="394")
            section.section.section-hidden-x.container
                header.section-header
                    h2.section-title.puddle-bg Case Studies
                    div.section-description
                        p 
                div.section-body
                    div.studies
                        ul.studies-list
                            li.studies-item
                                div.studies-description
                                    p For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.
                                a.studies-link
                                    span Learn more
                                    include images/icons/arrow-top-right.svg
                            li.studies-item
                                div.studies-description
                                    p For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.
                                a.studies-link
                                    span Learn more
                                    include images/icons/arrow-top-right.svg
                            li.studies-item
                                div.studies-description
                                    p For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.
                                a.studies-link
                                    span Learn more
                                    include images/icons/arrow-top-right.svg
            section.section.container
                header.section-header
                    h2.section-title.puddle-bg Our Working Process
                    div.section-description
                        p
                            | Step-by-Step Guide to Achieving
                            br
                            | You Business Goals
                div.section-body
                    div.process
                        ol.process-list
                            li.process-item
                                details.process-accordion(open)
                                    summary.process-accordion-header
                                        h3.process-accordion-title Consultation
                                        span.process-accordion-indicator
                                    div.process-accordion-body
                                        p During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.
                            li.process-item
                                details.process-accordion
                                    summary.process-accordion-header
                                        h3.process-accordion-title Research and Strategy Development
                                        span.process-accordion-indicator
                                    div.process-accordion-body
                                        p During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.
                            li.process-item
                                details.process-accordion
                                    summary.process-accordion-header
                                        h3.process-accordion-title Implementation
                                        span.process-accordion-indicator
                                    div.process-accordion-body
                                        p During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.
                            li.process-item
                                details.process-accordion
                                    summary.process-accordion-header
                                        h3.process-accordion-title Monitoring and Optimization
                                        span.process-accordion-indicator
                                    div.process-accordion-body
                                        p During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.
                            li.process-item
                                details.process-accordion
                                    summary.process-accordion-header
                                        h3.process-accordion-title Reporting and Communication
                                        span.process-accordion-indicator
                                    div.process-accordion-body
                                        p During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.
                            li.process-item
                                details.process-accordion
                                    summary.process-accordion-header
                                        h3.process-accordion-title Continual Improvement
                                        span.process-accordion-indicator
                                    div.process-accordion-body
                                        p During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.
            section.section.container
                header.section-header
                    h2.section-title.puddle-bg Team
                    div.section-description
                        p
                            | Meet the skilled and experienced team behind our
                            br
                            | successful digital marketing strategies
                div.section-body
                    div.team
                        ul.team-list.gird.grid-3
                            li.team-item
                                article.team-card
                                    header.team-card-header
                                        img.team-card-image(src="./images/team/1.svg", alt="", width="100", height="100")
                                        div.team-card-info
                                            h3.team-card-name John Smith
                                            p.team-card-post CEO and Founder
                                        a.team-card-link(href="/", target="_blank")
                                            span.visually-hidden LinkedIn
                                            include images/icons/linkedin.svg
                                    div.team-card-body
                            li.team-item
                                article.team-card
                                    header.team-card-header
                                        img.team-card-image(src="./images/team/2.svg", alt="", width="100", height="100")
                                        div.team-card-info
                                            h3.team-card-name Jane Doe
                                            p.team-card-post Director of Operations
                                        a.team-card-link(href="/", target="_blank")
                                            span.visually-hidden LinkedIn
                                            include images/icons/linkedin.svg
                                    div.team-card-body
                            li.team-item
                                article.team-card
                                    header.team-card-header
                                        img.team-card-image(src="./images/team/3.svg", alt="", width="100", height="100")
                                        div.team-card-info
                                            h3.team-card-name Michael Brown
                                            p.team-card-post Senior SEO Specialist
                                        a.team-card-link(href="/", target="_blank")
                                            span.visually-hidden LinkedIn
                                            include images/icons/linkedin.svg
                                    div.team-card-body
                            li.team-item
                                article.team-card
                                    header.team-card-header
                                        img.team-card-image(src="./images/team/4.svg", alt="", width="100", height="100")
                                        div.team-card-info
                                            h3.team-card-name Emily Johnson
                                            p.team-card-post PPC Manager
                                        a.team-card-link(href="/", target="_blank")
                                            span.visually-hidden LinkedIn
                                            include images/icons/linkedin.svg
                                    div.team-card-body
                            li.team-item
                                article.team-card
                                    header.team-card-header
                                        img.team-card-image(src="./images/team/5.svg", alt="", width="100", height="100")
                                        div.team-card-info
                                            h3.team-card-name Brian Williams
                                            p.team-card-post
                                                | Social Media
                                                br
                                                | Specialist
                                        a.team-card-link(href="/", target="_blank")
                                            span.visually-hidden LinkedIn
                                            include images/icons/linkedin.svg
                                    div.team-card-body
                            li.team-item
                                article.team-card
                                    header.team-card-header
                                        img.team-card-image(src="./images/team/6.svg", alt="", width="100", height="100")
                                        div.team-card-info
                                            h3.team-card-name Sarah Kim
                                            p.team-card-post Content Creator
                                        a.team-card-link(href="/", target="_blank")
                                            span.visually-hidden LinkedIn
                                            include images/icons/linkedin.svg
                                    div.team-card-body
                        button.team-button.button(type="button") See all team
        footer.footer
        dialog.mobile-overlay.visible-mobile(id="mobileOverlay")
            form.mobile-overlay-close-button-wrapper(method="dialog")
                button.mobile-overlay-close-button.cross-button(type="submit")
                    snap.visually-hidden Close navigation menu
            div.mobile-overlay-body
                ul.mobile-overlay-menu-list
                    li.mobile-overlay-menu-item
                        a.mobile-overlay-menu-link(href="") About us
                    li.mobile-overlay-menu-item
                        a.mobile-overlay-menu-link(href="") Services
                    li.mobile-overlay-menu-item
                        a.mobile-overlay-menu-link(href="") Use Cases
                    li.mobile-overlay-menu-item
                        a.mobile-overlay-menu-link(href="") Pricing
                    li.mobile-overlay-menu-item
                        a.mobile-overlay-menu-link(href="") Blog